* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  list-style: none;
  font-family: Verdana;
}
body {
  display: inline-block;
  margin: 0;
  padding: 0.5rem;
}

/* Navigation bar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 5;
}

/* Site name on the top left of nav bar */
.navbar__site--name {
  margin-left: 150px;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-size: 22px;
}

/* navigation page links */
.navbar__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 22px;
}

.navbar__item {
  margin-right: 50px;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.navbar__link {
  text-decoration: none;
}

/* Hero section container */
.hero {
  background-color: #fefaf5;
  margin-top: 20px;
  padding-top: 20px;
  text-align: left;
  display: flex;

  flex-direction: row;
}

/* container for the hero section content */
.hero__content {
  margin: 300px 150px;
}

.hero__slogan {
  color: #335576;
  margin-bottom: 20px;
  font-size: 60px;
}

.hero__copy {
  font-size: 30px;
}

.hero__button {
  background-color: #db7a4e;
  margin-top: 40px;
  padding: 15px 25px;
  color: #ffffff;
  border-radius: 1.5rem;
  border-color: #db7a4e;
}

.hero__logo {
  display: inline-block;
  justify-content: right;
  position: float-right;
  margin-left: auto;
  position: relative;
  position: left 9rem;
  width: 20%;
  height: 20%;
}
.navbar__link--active {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: #db7a4e;
}
.recos {
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 40px;
  margin-top: 60px;
  margin-left: 80px;
}
.recos__title {
  margin-top: 5px;
  position: relative;
  top: -10px;
}

.destinations {
}

.cards {
  justify-content: space-between;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  margin-bottom: 10px;
}

.hawaii__card {
  background: url("../assets/Images/hawaii.jpg");
  background-size: cover;
  width: 400px;
  height: 500px;
  border-radius: 5px;
  justify-content: space-between;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  margin-bottom: 10px;
}

.iceland__card {
  background: url("../assets/Images/iceland.jpg");
  background-size: cover;
  width: 400px;
  height: 500px;
  border-radius: 5px;
  justify-content: space-between;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  margin-bottom: 10px;
}

.greece__card {
  background: url("../assets/Images/greece.jpg");
  background-size: cover;
  width: 400px;
  height: 500px;
  border-radius: 5px;
  justify-content: space-between;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  margin-bottom: 10px;
}

.footer {
  background-color: #fefaf5;
  color: #335576;
  margin-top: 60px;
  padding: 60px;
  display: flex;
  justify-content: space-between;
}

.footer__titles {
  color: #335576;
}

.footer__subtitles {
  color: #db7a4e;
}

.footer__content {
  text-align: left;
}
